@import url(//fonts.googleapis.com/css?family=Josefin+Sans|Courgette);

.josefinSans {
  font-family: 'Josefin Sans';
}

.courgette {
  font-family: 'Courgette';
}

.landing-background-img {
  background: url("images/landing-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

footer {
  background: #073007;
  box-shadow: 0 50vh 0 50vh #073007;
}

.footerICON {
  background-color: #21b372 !important;
  margin: 21px 7px !important;
}